body{
   background-image: url(background1.jpg);
   background-size: cover
    
}
li{
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    text-align: center;
    background-color:blue;
    
}

.inscreva{
    width: 350px;
    height: 420px;
    border: 1px solid gray;
    padding: 10px 20px;
    background-image: url(background1.jpg);
    align-items: center;

}
ul{
    background-color:blue;
}
.Enviar{
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:black;
    outline: none;
    
}