body{
    background-image: url(background1.jpg);
    background-size: cover;
}

.texto{
    color:white;
    text-align: center; 
}
.btn{
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:red;
    outline: none;
    color:white;
}
.login{
    text-align: center;
   background-image: url(background1.jpg);
    background-size: cover;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}